@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Roboto&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #eee;
    height: 1000px;
    overflow-x: hidden;
}

/* section header starts */

header {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

header .header-title h1 {
    font-family: "Roboto Condensed", sans-serif;
}

header .header-navbar-list {
    max-width: 100vw;
    width: 80%;
    margin-top: 1.8rem;
}

header .header-navbar-list ul {
    display: flex;
    justify-content: space-between;
}

header ul li a {
    color: #000;
    font-weight: 600;
}

.menu-navbar {
    display: none;
}


/* section header starts */

/* section jumbtron starts */

.container-jumbotron {
    position: relative;
    /* max-width: 100vw; */
    width: 100%;
    height: 350px;
    background-color:#ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.container-jumbotron .content-jumbotron {
    text-align: center;
}

.container-jumbotron .content-jumbotron .text-line {
    margin-bottom: 2.5rem;
}

.container-jumbotron .content-jumbotron .text-line h3 {
    font-size: 1.2rem;
}

.container-jumbotron .content-jumbotron .join-button {
    color: #fff;
    background-color: #0d6efd;
    padding: .5rem;
    border-radius: 5px;
}









/* section jumbtron ends */

/* Courses section */

.container-courses {
    padding: 4rem;
}

.content-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.content-courses .list-courses {
    background-color: #0d6efd;
    width: 250px;
    margin: 1rem;
    padding: 1.5rem;
    color: #fff;
}

.list-courses h3,p {
    margin-bottom: 1rem;
}

.list-courses .difficult {
    display: flex;
}

.list-courses .difficult ul {
    display: flex;
    margin-left: .3rem;
    margin-top: -2px;
}

.list-courses .difficult ul li {
    margin: 0px .1rem;
}

.list-courses .difficult ul li ion-icon {
    font-size: 1.3rem;
}

.list-courses .description .btn-see-more {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: .8rem;
}

.list-courses .description .btn-see-more i {
    margin-left: .5rem;
    margin-top: .1rem;
}

/* Courses End */

/* All Projects */

.container-project {
    text-align: center;
    padding: 3rem 0 9%;
}

.box-container {
    box-sizing: border-box;
}

.box-container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    box-sizing: border-box;
}

.box-container .box h4 {
    font-family: "Poppins", sans-serif;
}

.box-container .box a {
    color: #000;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: .5rem;
    transition: .5s linear;
}

.box-container .box a:hover {
    background-color: #000;
    color: #fff;
}

/* End Projects */

/* Footer starts */

footer {
    /* max-width: 100vw; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: .6rem 3rem 2rem 3rem;
    border-top: 1px solid #ccc;
}

footer .list-group {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

footer .list-group .content-course {
    width: 130px;
}

footer .list-group h4 {
    margin-bottom: .8rem;
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

footer .list-group a {
    color: #878787;
}

footer .list-group .content-sm {
    margin-top: 2px;
}
















/* Footer ends */










/* Responsive for smart phones */




@media (max-width: 670px) {

/* header */

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-navbar {
        display: inline-block;
        font-size: 1.5rem;
    }

    .header-navbar-list {
        display: none;
    }

/* ends header */

/* main */

/* Jumbtron */

.text-line h3 {
    font-size: .8em;
    text-align: center;
}

/* Jumbtron ends */

/* Courses */

.container-courses {
    padding: 0rem !important;
}

.container-courses h2 {
    padding: 2rem;
    padding-left: 1.1rem;
}

.content-courses {
    margin-top: -2rem;
}

.content-courses .list-courses {
    margin-right: -0.5rem;
}

/* End Courses */


/* ends main */

/* Footer starts */

footer {
    width: 100%;
    max-width: 95vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0.6rem 1.5rem 2rem 1.5rem;
}

footer h2 {
    margin-bottom: 1rem;
}

footer .list-group .content-sm {
    margin-top: 0px;
}



/* Footer Ends */

}






































